                * {
                    padding: 0;
                    margin: 0;
                    list-style: none;
                }
                
                //新闻
                .news {
                    width: $w;
                    height: 32px;
                    background: #efefef;
                    li {
                        padding-left: 105px;
                        line-height: 32px;
                        // list-style: none;
                        a {
                            text-decoration: none;
                            color: #5d5d5d;
                            font-size: 10px;
                        }
                    }
                }
                
                //   //滑动
                .slide {
                    width: $w;
                    height: 344.683px;
                    padding-bottom: 50px;
                    position: relative;
                    z-index: -1;
                    overflow: hidden;
                    ul {
                        position: absolute;
                        left: 0;
                        top: 0;
                        float: left;
                        li {
                            float: left;
                            width: 1263px;
                            .img2 {
                                width: $w;
                                height: $h;
                            }
                        }
                    }
                    ol {
                        position: absolute;
                        width: 130px;
                        height: 30px;
                        // background: red;
                        left: 50%;
                        margin-left: -50px;
                        bottom: 15px;
                        text-align: center;
                        li {
                            width: 10px;
                            height: 10px;
                            border-radius: 50%;
                            border: 1px solid gray;
                            cursor: pointer;
                            float: left;
                            margin: 0 5px;
                        }
                        .active {
                            background: #efefef;
                        }
                    }
                    #left {
                        position: absolute;
                        font-size: 80px;
                        left: 20px;
                        color: black;
                        // opacity: 0.3;
                        top: 130px;
                        text-decoration: none;
                        margin-left: 50px;
                        // display: none;
                    }
                    #right {
                        position: absolute;
                        font-size: 80px;
                        right: 20px;
                        color: black;
                        text-decoration: none;
                        // opacity: 0.5;
                        top: 130px;
                        margin-right: 50px;
                        // display: none;
                    }
                    #left:hover,
                    #right:hover {
                        color: #fff;
                    }
                }
                
                // the-vipeak
                .the-vipeak {
                    margin-top: 20px;
                    width: 1140px;
                    height: 295px;
                    margin: 0 auto;
                    // background: red;
                    li {
                        width: 558px;
                        height: 295px;
                        // margin-right: 12px;
                        // background: teal;
                        list-style: none;
                        float: left;
                        margin-left: 12px;
                        .img3 {
                            // display: block;
                            width: $w;
                            height: $h;
                            // margin-left: 12px;
                        }
                    }
                    // .left {
                    //     float: left;
                    // }
                    // .right {
                    //     float: right;
                    // }
                    // background: springgreen;
                    // .left-pic {
                    //     width: 562px;
                    //     height: 295px;
                    //     // background: teal;
                    //     float: left;
                    //     .img3 {
                    //         width: $w;
                    //         height: $h;
                    //     }
                    // }
                    // .right-pic {
                    //     width: 562px;
                    //     height: 295px;
                    //     float: right;
                    //     // background: sandybrown;
                    //     .img4 {
                    //         width: $w;
                    //         height: $h;
                    //     }
                    // }
                }
                
                // chose-nav
                .chose-nav {
                    width: 1140px;
                    height: 60px;
                    margin: 0 auto;
                    ul {
                        width: 726px;
                        height: 60px;
                        margin: 0 auto;
                        font-size: 16px;
                        color: #787878;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        // flex-direction: column;
                        li {
                            list-style: none;
                            float: left;
                            a {
                                text-decoration: none;
                                margin: 0 20px;
                                color: black;
                            }
                        }
                        .active {
                            color: blue;
                        }
                    }
                }
                
                //showbox
                .showbox {
                    width: 1140px;
                    height: 557.08px;
                    position: relative;
                    // background: turquoise;
                    margin: 0 auto;
                    .ul2 {
                        display: none;
                        width: $w;
                        position: absolute;
                        top: 0;
                        left: 0;
                        li {
                            width: 280.5px;
                            list-style: none;
                            float: left;
                            margin-right: 6px;
                            .img5 {
                                width: 280px;
                                height: 557.08px;
                            }
                        }
                        .lastline {
                            margin-right: 0;
                        }
                    }
                    // .ul3 {
                    //     width: $w;
                    //     position: absolute;
                    //     top: 0;
                    //     left: 0;
                    //     li {
                    //         width: 280.5px;
                    //         list-style: none;
                    //         float: left;
                    //         margin-right: 6px;
                    //         .img5 {
                    //             width: 280px;
                    //             height: 557.08px;
                    //         }
                    //     }
                    //     .lastline {
                    //         margin-right: 0;
                    //     }
                    // }
                }
                
                //最佳销售单品
                .best-seller-box {
                    // width: 1140px;
                    height: 402px;
                    // overflow: hidden;
                    position: relative;
                    // background: yellow;
                    margin: 0 auto;
                    .zuijia {
                        width: $w;
                        height: 22px;
                        font-weight: bold;
                        // background: yellowgreen;
                        margin: 0 auto;
                        text-align: center;
                        font-size: 20px;
                    }
                }
                
                #dabest {
                    width: $w;
                    height: 402px;
                    // background: red;
                    position: relative;
                    overflow: hidden;
                    #left {
                        position: absolute;
                        font-size: 80px;
                        left: 7px;
                        color: black;
                        opacity: 0.5;
                        top: 130px;
                        text-decoration: none;
                        // margin-left: 50px;
                        // display: none;
                    }
                    #right {
                        position: absolute;
                        font-size: 80px;
                        right: 7px;
                        color: black;
                        text-decoration: none;
                        opacity: 0.5;
                        top: 130px;
                        // margin-right: 50px;
                        // display: none;
                    }
                }
                
                .best-seller-box .main-banner {
                    width: 1140px;
                    height: 350px;
                    margin-bottom: 30px;
                    // background: palegreen;
                    margin: 0 auto;
                    // margin-left: 40px;
                    // margin-right: 20px;
                    float: left;
                    li {
                        width: 238px;
                        height: 348px;
                        border: 1px solid gray;
                        margin-right: 60px;
                        list-style: none;
                        float: left;
                        a {
                            text-decoration: none;
                            .img6 {
                                width: 238px;
                                height: 238px;
                            }
                            p {
                                font-size: 14px;
                                color: #000;
                                margin: 10px 0;
                                height: 45px;
                                text-align: center;
                            }
                            .money {
                                text-align: center;
                                font-size: 14px;
                            }
                        }
                    }
                    .lastline {
                        margin-right: 0;
                    }
                }
                
                .main-banner {
                    margin-top: 30px;
                }